{% extends "template.html" %}
{% load static %}
{% block content %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Metas e Indicadores</h1>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap" style="margin-left: 350px;">
                    {% comment %} <img src="{% static 'images/metas.png' %}" class="img-fluid" style="max-width: 350px;"> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Metas e Indicadores Section -->
<div class="objectives-section py-5">
    <div class="container">
        {% comment %} <h2 class="font-weight-bold text-center mb-5">Metas e Indicadores</h2> {% endcomment %}

        <!-- Finanzas Section -->
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <img src="{% static 'images/presupuesto.png' %}" alt="Finanzas" class="img-fluid" style="max-width: 100px;">
                <h3 class="font-weight-bold">Finanzas</h3>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Aumentar los Ingresos</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Incremento en las ventas</h6>
                    <h6 style="text-align: center; line-height: 25px;">Número de nuevos productos lanzados</h6>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Reducir Costos</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Reducción de costos de producción</h6>
                    <h6 style="text-align: center; line-height: 25px;">Porcentaje de materiales reciclados utilizados</h6>
            </div>
        </div>

        <!-- Clientes Section -->
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <img src="{% static 'images/clientes.png' %}" alt="Clientes" class="img-fluid" style="max-width: 100px;">
                <h3 class="font-weight-bold">Clientes</h3>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Aumentar la cuota de mercado</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Alcance en redes sociales</h6>
                    <h6 style="text-align: center; line-height: 25px;">Número de nuevos clientes adquiridos</h6>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Mejorar la satisfacción del cliente</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 50%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">50%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Tasa de satisfacción del cliente</h6>
                    <h6 style="text-align: center; line-height: 25px;">Frecuencia de compras repetidas</h6>
            </div>
        </div>

        <!-- Procesos Internos Section -->
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <img src="{% static 'images/proceso.png' %}" alt="Procesos Internos" class="img-fluid" style="max-width: 100px;">
                <h3 class="font-weight-bold">Procesos Internos</h3>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Mejorar la calidad del producto</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">75%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Porcentaje de productos defectuosos</h6>
                    <h6 style="text-align: center; line-height: 25px;">Satisfacción del cliente respecto a la calidad</h6>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Optimizar los procesos de producción</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 65%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">65%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Reducción de errores de producción</h6>
                    <h6 style="text-align: center; line-height: 25px;">Tiempo de ciclo de producción</h6>
            </div>
        </div>

        <!-- Aprendizajes y Crecimiento Section -->
        <div class="row mb-5">
            <div class="col-lg-12 text-center">
                <img src="{% static 'images/aprendizaje.png' %}" alt="Aprendizaje" class="img-fluid" style="max-width: 100px;">
                <h3 class="font-weight-bold">Aprendizaje y Crecimiento</h3>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Desarrollar habilidades del personal</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Horas de capacitación por empleado</h6>
                    <h6 style="text-align: center; line-height: 25px;">Mejora en la productividad</h6>
            </div>
            <div class="col-lg-6">
                <h4 style="text-align: center; line-height: 50px;">Fomentar la innovación</h4>
                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 55%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">55%</div>
                </div>
                    <h6 style="text-align: center; line-height: 25px;">Número de ideas implementadas</h6>
                    <h6 style="text-align: center; line-height: 25px;">Participación en el laboratorio de innovación</h6>
            </div>
        </div>

    </div>
</div>
<!-- End Metas e Indicadores Section -->

{% endblock %}
