{% extends "template.html" %}
{% load static %}
{% block content %}

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Indicadores y Metas</h1>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap" style="margin-left: 350px;">
                    {% comment %} <img src="{% static 'images/couch.png'%}" class="img-fluid" style="max-width: 350px;"> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



{% endblock %}
