{% extends "template.html" %}
{% load static %}
{% block content %}

		    <!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>Catálogo</h1>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap" style="margin-left: 350px;">
								<img src="{% static 'images/couch.png'%}" class="img-fluid" style="max-width: 350px;">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Hero Section -->

		

		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

		      		<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-1.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Silla Victoriana</h3>
							<strong class="product-price">Q1500.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-2.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Mesa Kruzo</h3>
							<strong class="product-price">Q2000.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-3.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Set Tai-Tai</h3>
							<strong class="product-price">Q6500.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-4.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Little Bird</h3>
							<strong class="product-price">Q150.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->

					<!-- Start Column 1 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-5.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Lamparas Vintage</h3>
							<strong class="product-price">Q1200.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 1 -->
						
					<!-- Start Column 2 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-6.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Lamparas Twist</h3>
							<strong class="product-price">Q1200.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div> 
					<!-- End Column 2 -->

					<!-- Start Column 3 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-7.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Silla Swift</h3>
							<strong class="product-price">Q1300.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 3 -->

					<!-- Start Column 4 -->
					<div class="col-12 col-md-4 col-lg-3 mb-5">
						<a class="product-item" href="#">
							<img src="{% static 'images/product-8.png'%}" class="img-fluid product-thumbnail">
							<h3 class="product-title">Combo Macetas</h3>
							<strong class="product-price">Q250.00</strong>

							<span class="icon-cross">
								<img src="{% static 'images/cross.svg'%}" class="img-fluid">
							</span>
						</a>
					</div>
					<!-- End Column 4 -->


		      	</div>
		    </div>
		</div>



{% endblock %}